      
 <main>
      <div class="pestpage">
                <h2>إدارة <b>انواع الآفات</b> </h2>
                <button><a asp-action="add_disease_type">إضافة</a></button>
              </div>
            <div class="devicer_manage">
                <table>
                    <thead>
                        <tr>
                            <th>أٍسم النوع </th>
                            <th>الوصف</th>
                            <th>إدارة</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> 

                            @foreach (var item in Model)
                            {
                   
                        <tr>
                            <td>@item.name</td>
                            <td>@item.discription</td>
                             <td class="management">
                             <span class="edit"><a href="@Url.Action("Edit_disease_type", "Disease",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/draw.png"> </a></span>
                             <span class="delet"><a href="@Url.Action("Delete_disease_type", "Disease",new{id=@item._id})">
                         <img alt=@item.name src="/images/icons/delete.png"> </a></span>

                            </td>
                        </tr>
                        
                            }
                            
                        
                      
                    </tbody>
                </table>
             <!--

                 <a href="#"> رؤية المزيد</a>
                -->
            </div>
            </main>
        <!--main end-->
        <!--right side strart-->
       