
:root{
    --color-primary:#7380ec;
    --color-red:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-white:#ffffff;
    --color-infodark:#7d8da1;
    --color-infolight:#dce1eb;
    --color-dark:#363949;
    --color-light:rgba(50, 52, 77, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;    
    --color-background:#f6f6f9;
    
    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.4rem;
    --padding-1:1.8rem;


    --box-shadow:0 1rem 2rem var(--color-light);
}
.dart-theme-varibles{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow:0 2rem 3rem var(--color-light);
}
.adddev{
    margin-top: 1.5rem;
}
.adddev b{
    color: #41f1b6;
}



.addfild {
    margin-top: 2rem;
    background-color: var(--color-white);
    width: 53vw;
    border-radius: var(--border-radius-3);
    padding: var(--padding-1);

}
.addfild form >div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 40vw;
    margin-top: 1rem;
}

.addfild form > div .fild{
    display:flex;
    background-color:var(--color-white);
    margin-bottom: 1rem;
    width: 250px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 42px;
    margin-left: 3.5rem;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-dark);
}
    .addfild img {
        width: 35px;
        height: 35px;
        border: 0px;
    }
.addfild form >div .datafild{
    background-color:var(--color-white);
    border: 1px;
    border-width: 1;
    margin-bottom: 1rem;
    padding:  1rem;
    height: 50px;
    margin-left: 3.5rem;
    width: 250px;
    text-align: right;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-dark);
}
.addfild form > div span{
    color: var(--color-dark);
    font-size: large;
}
.addfild form > div input{
    background-color: transparent;
    font-size: large;
    direction: rtl;
    text-align: start;
}
.addfild form > div select{
    background-color: transparent;
    font-size: large;
    direction: rtl;
    text-align: start;
    width: 17.5rem;
    
}
.addfild form > div .fildfile{
    background-color:var(--color-white);
    margin-bottom: 1rem;
    padding:  0rem;
    height: 50px;
    margin-left: 3.5rem;
    align-items: flex-start;
    border-radius: 5px;
    
}
.addfild form >div input[type="file"]{
    font-size: large;
    direction: rtl;
    width: 250px;
    align-items: flex-start;
    align-self: flex-start;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--color-dark);
}
.addfild form  button{
    background-color: darkturquoise;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 20px;
    font-size: medium;
    color: var(--color-white);
    text-align: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.addfild form .submit{
    background-color: darkturquoise;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
    font-size: medium;
    color: var(--color-white);
    text-align: center;
    width: 80px;
    margin-right: 7rem;
    margin-bottom: 0.5rem;
}
.addfild form  .cancel{
    background-color: var(--color-red);
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 10px;
    font-size: medium;
    color: var(--color-white);
    text-align: center;
    width: 80px;
    margin-right: 7rem;
}

.addfild form:first-child{
    direction: ltr;
    text-align: start;
}
.aaa{
    position: absolute;
    left: 34px;
    margin-top:0.5rem;
}
.aa{
    position: absolute;
    left: -30px;
    margin-top: 0.5rem;
}
.button_toggle{
    display: grid;
    grid-template-columns: repeat(2,3fr);
}
@media screen and (max-width:768px){
    .addfild form{
        display: block;
        padding-right: 2rem;
    }
    .addfild {
        background-color: var(--color-white);
        width: 90vw;
        height: auto;
        border-radius: var(--border-radius-3);
        padding: var(--padding-1);
    }
    .addfild form  input[type="file"]{
        width: 320px;
    }
    .addfild form .datafild{
        width: 320px;
    }
    .addfild form .fild{
        width: 320px;
    }
}

