  
<main>
            <div class="insights">
                <div class="sales">
                   <img src="images/icons/icons8-abacus-50.png" alt="">
                    <div class="middel">
                        <div class="left">
                            <h3>عدد المستخدمين</h3>
                            <h1> 30 مستخدم</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='39' cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sales">
                    <a href="pages/advicer.html">

                        <!-- <span class="material-symbols-sharp">analytics </span>-->
                        <img src="images/icons/icons8-abacus-50.png" alt="">
                        <div class="middel">
                            <div class="left">
                                <h3>عدد المرشدين</h3>
                                <h1>25 مرشد</h1>
                            </div>
                            <div class="progress">
                                <svg>
                                    <circle cx='39' cy="38" r="36"></circle>
                                </svg>
                                <div class="number">
                                    <p>81%</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="sales">
                    <a href="pages/post.html">

                        <!-- <span class="material-symbols-sharp">analytics </span>-->
                        <img src="images/icons/icons8-abacus-50.png" alt="">
                        <div class="middel">
                            <div class="left">
                           <h3>المنشورات</h3>
                           <h1>50 منشور</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='39' cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                
                <div class="sales">
                    <a href="pages/pests.html">

                        <!-- <span class="material-symbols-sharp">analytics </span>-->
                        <img src="images/icons/icons8-abacus-50.png" alt="">
                    <div class="middel">
                        <div class="left">
                            <h3>الآفات</h3>
                            <h1>50 آفة</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='39' cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                  </a>    
                </div>
                <div class="sales">
                    <a href="pages/advertisments.html">

                        <!-- <span class="material-symbols-sharp">analytics </span>-->
                        <img src="images/icons/icons8-abacus-50.png" alt="">
                    <div class="middel">
                        <div class="left">
                            <h3>الأعلانات</h3>
                            <h1>50 أعلان</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='39' cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                </a>

                </div>
                <div class="sales">
                    <a href="pages/advertisments.html">

                        <!-- <span class="material-symbols-sharp">analytics </span>-->
                        <img src="images/icons/icons8-abacus-50.png" alt="">
                    <div class="middel">
                        <div class="left">
                            <h3>منشورات بيع</h3>
                            <h1>50 منشور</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='39' cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                </a>

                </div>
              
            

                <!--sales end-->
                
            </div>
            <div class="devicer_rating">
                <h2>تقييم المرشدين</h2>
                <table>
                    <thead>
                        <tr>
                            <th>رقم المرشد </th>
                            <th>أسم المرشد </th>
                            <th>عدد الحلول</th>
                            <th>التقييم </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>أحمد</td>
                            <td>100</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>محمد</td>
                            <td>100</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>محمد</td>
                            <td>100</td>
                            <td>100%</td>
                        </tr>
                        
                    </tbody>
                </table>
                <a href="pages/advicer.html">رؤية المزيد </a>
            </div>
        </main>
        <!--main end-->
        <!--right side strart-->
        <div class="right">
            <!--top start-->
          
            <!--top end-->
            <div class="montada-messages">
                <h2>المنشورات الاخيرة </h2>
                <div class="updates">
                    <a href="pages/post.html">

                        <div class="update">
                            
                            <div class="post-photo">
                                <img src="images/farm.jfif" alt="">
                            </div>                       
                        <div class="lines">

                            <div class="profile_photo">
                                <img src="images/pro2.jpg" alt="">
                            </div>
                            <div class="message">
                                <p><b>أحمد </b>مرحبا معي مشكلة أواجها في شجرة البرتقال انها تبدو سوداء وهناك نقط تبدو متاكلة</p>
                                <small class="text-muted">2 menuts ago</small>
                            </div>
                        </div>
                    </div>
                </a>
                
                <div class="update">
                    <div class="post-photo">
                        <img src="images/farm.jfif" alt="">
                    </div>
                    <div class="lines">

                        <div class="profile_photo">
                            <img src="images/pro2.jpg" alt="">
                        </div>
                        <div class="message">
                            <p><b>Ahmed </b>hey every one i have tree and it is look like it 
                                will die can someone help me</p>
                                <small class="text-muted">2 menuts ago</small>
                     </div>
                 </div>
              </div>
                </div>
            </div>
            <!--montada end-->
            <!--chat start-->
            <div class="recent-messages">
                <h2>Recent Messages</h2>
                <div class="chat">
                    <div class="profile-img">
                        <img src="images/pro3.jpg" alt="">
                    </div>
                    <div class="right">
                        <div class="chat-info">
                            <h3>Mohammed</h3>
                            <div class="message">
                                <p>hey every one i have tree and it is look like it 
                                    will help me</p>
                            </div>
                            <small class="text-muted">قبل دقيقتين</small>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <div class="profile-img">
                        <img src="images/pro.jpg" alt="">
                    </div>
                    <div class="right">
                        <div class="chat-info">
                            <h3>Mohammed</h3>
                            <div class="message">
                                <p>hey every one i have tree and it is look like it 
                                    will help me</p>
                            </div>
                            <small class="text-muted">2 minutes ago</small>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <div class="profile-img">
                        <img src="images/pro2.jpg" alt="">
                    </div>
                    <div class="right">
                        <div class="chat-info">
                            <h3>Mohammed</h3>
                            <div class="message">
                                <p>hey every one i have tree and it is look like it 
                                    will help me</p>
                            </div>
                            <small class="text-muted">2 minutes ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--chat end-->
        </div>