  @model agricultural_guide.Models.Advertisments

   <main>

            <div class="">
                <h2> الأعلانات </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b>أعلان جديد</b></h2>
                    <form enctype="multipart/form-data" asp-action="EditAdvertisment">
                        <div>
                    
                        <div >
                            <span>نبذه عن الأعلان </span>
                            <input class="fild"  asp-for=ads placeholder="" >
                        </div>
                     
                       

                        <div>
                            <span>وصف الأعلان</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                        
                          <div >
                            <span > أسم المعلن</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.advertiser, Model.advertisers, "أختر نوع للمحصول")
                            </div>
                            </div>
                             <div>
                            <span>صورة المحصول</span>
                            <input class="fild" multiple type="file" name="crop_image"   asp-for=ads_image placeholder="" >
                        </div>

                         
                        </div>
                      
                    
                     <div>
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                    </div>
                    </form>
            </div>
            </div>
 
          
           
        </main>
        <!--main end-->
       