
<main>
            <div class="mess_container">
                <div class="message_header">
                    <img class="mess_profile" src="/images/pro.jpg" alt="">
                    <div>
                        <h2>محمد فضل</h2>
                        <small class="text_muted">متصل</small>
                    </div>
                    <img style="display: none;"  class="mess_search" src="/images/icons/settings.png" alt="">
                    <img style="display: none;" src="/images/icons/icons8-dashboard-layout-24.png" alt="">
                </div>
                <div class="message_area">
                  <p class="receved">
                       gihrighwghawrighawprghirghwiroghweioghweihrkghlr
                     
                  </p>
                  <p class="receved">
                      gihrighwghawrighawprghirghwiroghweioghweihrkghlr
                  </p>
                  <p class="receved">
                      gihrighwghawrighawprghirghwiroghweioghweihrkghlr
                  </p>
                  <p class="receved">
                      gihrighwghawrighawprghirghwiroghweioghweihrkghlr
                  </p>
                  <p class="sent">
                      gihrighwnkrwhgiwrhgrihgghawrighawprgh
                      irghwiroghweioghweihrkghlr fbrb ononr nrn ri n
                  </p>
                   <p class="receved">
                      gihrighwghawrighawprghirghwiroghweioghweihrkghlr
                  </p>
                   <p class="sent">
                      gihrighwnkrwhgiwrhgrihgghawrighawprghirghwi
                      roghweioghweihrkghlr fbrb ononr nrn ri n
                  </p>
                </div>
            </div> 
            <div class="write_area">
                <img src="/images/icons/image.png" alt="">
                <form class="text_erea_form" action="post">
                    <input type="text" name="" id="" placeholder="ااكتب رسالتك هنا">
                    <button class="submit_mess" type="submit"><img src="~/images/icons/paper-plane.png"/></button>
                </form>
            </div>
        </main>
        <!--main end-->
        <!--right side strart-->
            <div class="last_chat_container">
                <div class="last_header">
                    <input  type="text" id="search_chat" onkeyup="lastchat()" placeholder="أكتب للبحث">
                </div>
                <div class="last_chats">
                    <div class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <small class="text-muted">9:45</small>
                    </div>
                    
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                    <div  class="last_chat">
                        <img src="/images/pro2.jpg" alt="">
                        <div>
                            <h2 class="name">محمد</h2>
                            <p class="para">السلام عليكم معي مشكلة اتمنى منك تحلها</p>
                        </div>
                        <div class="div2">
                            <small class="text-muted">9:45</small>
                            <h5 class="messages">30</h5>
                        </div>

                    </div>
                   
                </div>
                
    </div>