  @model agricultural_guide.Models.Cities

   <main>


      


            <div class="">
                <h2> مناطق البيع </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b>محافظة</b></h2>
                    <form enctype="multipart/form-data" asp-action="add_cities">
                        <div>
                    
                        <div >
                            <span>أسم المحافظة</span>
                            <input class="fild" required asp-for=name placeholder="" >
                        </div> 
                       
                        <div>
                            <span>الوصف</span>
                            <input class="fild" required  asp-for=description placeholder="" >
                        </div>
                        
                       
                        </div>
                    <div>
                        

                     <div class="ssubmitbtn">
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                    </div>
                    </div>
                    </form>
            </div>
            </div>
            <!--
                <div class="date">
                    <input type="date">
                </div>
            -->
          
           
        </main>
        <!--main end-->
       