  @model agricultural_guide.Models.Advertisers

   <main>

            <div class="">
                <h2> أنواع المحاصيل </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>تعديل <b>  معلن</b></h2>
                    <form asp-action="Editadvertiser">
                       <div>
                        <div >
                            <span>أسم  المعلن</span>
                            <input class="fild"  asp-for=name placeholder="" >
                        </div>
                       <div >
                            <span>رقم  الهاتف</span>
                            <input class="fild"  asp-for=phone placeholder="" >
                        </div>
                        <div >
                            <span>  الايميل</span>
                            <input class="fild"  asp-for=email placeholder="" >
                        </div>
                       
                        <div>
                            <span>الوصف</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                        </div>

                     <div>
                        <div class="ssubmitbtn">
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                       </div>
                    </div>
                    </form>
            </div>
            </div>
            <!--
                <div class="date">
                    <input type="date">
                </div>
            -->
          
           
        </main>
        <!--main end-->
        <!--right side strart-->
     