 <main>
            <h2>المنشورات</h2>
            <div class="post_area">
                <div class="post">
                    <div class="top" id="toppost">
                        <img src="../images/farm.jfif" alt="">
                        <div>
                            <img src="../images/pro3.jpg" alt="">
                            <div>
                                <h2>محمد</h2>
                                <p>hey there my there is a somthing look like rong in my tree can someone
                                    tel me about ithey there my there is a somthing look like rong   <b class="read_more">readmore</b></p>
                            </div>
                        </div>
                    </div>
                    
                    <h2 class="Comments">التعليقات</h2>
                    <div class="line"></div>
                    <div class="comments_area">
                        <div class="comment">
                            <img src="../images/pro2.jpg" alt="">
                            <div>
                                <div>
                                    <h2>صالح</h2>
                                    <p>hey there my there is a somthing look like rong in my tree can someone
                                       tel me about ithey there my there is a somthing look like rong in my
                                       tree can someone tel me about ithey there my there is a somthing look
                                        like rong in my tree can someone tel me about ithey there my there
                                        is a somthing look like rong in my tree can someone tel me about
                                        ithey there my there is a somthing look like rong in my tree can
                                         someone tel me about it</p>
                                </div>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                            <div class="comment_line"></div>
                        </div>
                        <div class="comment">
                            <img src="../images/pro.jpg" alt="">
                            <div>
                                <h2>أحمد</h2>
                                <p>you can do this try to cut the damaged leef </p>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                            <div class="comment_line"></div>
                        </div>
                        <div class="comment">
                            <img src="../images/pro.jpg" alt="">
                            <div>
                                <h2>محمد</h2>
                                <p>you can do this try to cut the damaged leef </p>
                                <small class="text-muted">2 minutes ago</small>
                            </div>
                            <div class="comment_line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="write_area">
               <form class="reply" action="post">
                   <input placeholder="أكتب رد هنا" type="text">
                   <input type="submit" value="Send">
                </form> 
                <img src="../images/icons/image.png" alt="">
            </div>
           
        </main>
        <!--main end-->
        <!--right side strart-->
        <div class="right">
            <!--top start-->
            
            <!--top end-->
         
            <!--chat start-->
            <div class="recent-advicer">
                <div class="h2count">
                    <h2 >أخر المنشورات</h2>
                </div>
                <div class="contains">
                    <div class="rec_post">

                        <img class="postimg" src="../images/farm.jfif" alt="">
                        <div class="post">
                            <div class="profile-img">
                                <img src="../images/pro3.jpg" alt="">
                            </div>
                            <div class="right">
                            <div class="chat-info">
                                <h2>Mohammed</h2>
                                <div class="message">
                                    <p>hey there my tree have problem</p>
                                    </div>
                                    <small class="text-muted">2 minutes ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rec_post">
                        <img class="postimg" src="../images/farm.jfif" alt="">
                        <div class="post">
                            <div class="profile-img">
                                <img src="../images/pro3.jpg" alt="">
                            </div>
                            <div class="right">
                            <div class="chat-info">
                                <h2>Saleh</h2>
                                <div class="message">
                                    <p>hey there i sew somthing rong in my tree</p>
                                    </div>
                                    <small class="text-muted">2 minutes ago</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                  
            </div>