  @model agricultural_guide.Models.qty

   <main>

            <div class="">
                <h2> المحاصيل </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b>كميةتسميد جديده</b></h2>
                    <form enctype="multipart/form-data" asp-action="add_qty">
                        <div>
                    
                        <div >
                            <span>أسم المحصول</span>
                            <input class="fild"  asp-for=QTY placeholder="" >
                        </div>
                       
                          <div >
                            <span >نوع المحاصيل</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.crop_id, Model.crops, "أختر أسم المحصول")

                            </div>
                            </div> 
                            <div >
                            <span >نوع المحاصيل</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.fertilizer_id, Model.fertilizers, "أختر نوع السماد")

                            </div>
                            </div> 
                            <div >
                            <span >نوع المحاصيل</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.fertilizer_type_id, Model.fer_types, "أختر  تركيبة للسماد")

                            </div>
                            </div> 
                             <div >
                            <span >نوع المحاصيل</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.stages_fertilizer_id, Model.stages, "أختر  مرحلة تسميد")

                            </div>
                            </div> 
                           
                        
                      </div>
                    
                       <div>

                     <div class="ssubmitbtn">
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                    </div>
                    </div>
                    </form>
            </div>
            </div>
        </main>

       