  @model agricultural_guide.Models.fertilizer

   <main>

            <div class="">
                <h2> الأسمدة </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b>سماد جديد</b></h2>
                    <form  asp-action="addfertilizer">
                        <div>
                    
                        <div >
                            <span>أسم السماد</span>
                            <input class="fild"  asp-for=name placeholder="" >

                        <div>
                            <span>الوصف</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                    </div>
                    </div>
                       <div>

                     <div class="ssubmitbtn">
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                    </div>
                    </div>
                    </form>
            </div>
            </div>

          
           
        </main>
        <!--main end-->
       