  @model agricultural_guide.Models.crop

   <main>

            <div class="">
                <h2> المحاصيل </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>تعديل <b>محصول </b></h2>
                    <form enctype="multipart/form-data" asp-action="Editcrop">
                        <div>
                    
                        <div >
                            <span>أسم المحصول</span>
                            <input class="fild"  asp-for=name placeholder="" >
                        </div>
                        
                         <div >



                            <span >الحالة </span>
                            
                              <select asp-for=state dir="ltr" class="fild" >
                                    <option value="1">موقف</option>
                                    <option value="2">مفعل</option>

                              </select>

                        </div>
                        <div >
                            <span >نوع المحصول حسب السماد</span>
                                <select asp-for=type dir="ltr" class="fild" >
                                    <option value="1" selected >حسب الاشجار</option>
                                    <option value="2">حسب المساحة</option>
                                </select>

                        </div>
                        

                       
                        <div>
                            <span>الوصف</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                        
                          <div >
                            <span >نوع المحاصيل</span>
                            <div class="fild">

                             @Html.DropDownListFor(x => Model.crop_type, Model.crop_types, "أختر نوع للمحصول")
                             <img src="~/images/icons/sort-arrows-couple-pointing-up-and-down.png" />
                            </div>

                             <div>
                            <span>صورة المحصول</span>
                            <input class="fild" multiple type="file" name="crop_image"   asp-for=crop_image title="" >
                        </div>
                           
                        </div>
                      
                    </div>
                     <div>
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                    </div>
                    </form>
            </div>
            </div>
      
        </main>
        <!--main end-->
       