  @model agricultural_guide.Models.crop_type

   <main>

            <div class="">
                <h2> أنواع المحاصيل </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b> نوع محصول جديد</b></h2>
                    <form asp-action="Edit_crop_type">
                        <div>

                        <div >
                            <span>أسم نوع المحصول</span>
                            <input class="fild"  asp-for=name placeholder="" >
                        </div>
                       
                        
                         
                        
                        <div>
                            <span>الوصف</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                        
                        </div>
                       
                        
                           <div>
                        <div class="ssubmitbtn">
                            <input class="submit" value="Save" type="submit">
                            <button class="cancel" onclick="backtocrop()" >الغاء</button>
                       </div>
                    </div>
                    </form>
            </div>
            </div>
            <!--
                <div class="date">
                    <input type="date">
                </div>
            -->
          
           
        </main>
        <!--main end-->
        <!--right side strart-->
     