  @model agricultural_guide.Models.crop_type

   <main>

            <div class="">
                <h2> أنواع المحاصيل </h2>
            </div>
            <div class="adddev">
                <div class="addfild">  
                    <h2>إضافة <b> نوع محصول جديد</b></h2>
                    <form asp-action="Edit_crop_type">
                        
                       
                        <div >
                            <span>أسم نوع المحصول</span>
                            <input class="fild"  asp-for=name placeholder="" >
                        </div>
                       
                        
                         
                        
                        <div>
                            <span>الوصف</span>
                            <input class="fild"  asp-for=description placeholder="" >
                        </div>
                        
                            <input class="submit" value="Save" type="submit">
                            <input class="cancel" value="Cancel" type="submit">
                    </form>
            </div>
            </div>
            <!--
                <div class="date">
                    <input type="date">
                </div>
            -->
          
           
        </main>
        <!--main end-->
        <!--right side strart-->
     